
[bumpver]
current_version = "0.9.6"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "bump version {old_version} -> {new_version}"
tag_message = "{new_version}"
tag_scope = "default"
commit = true
tag = true
push = false

[bumpver.file_patterns]
"bumpver.toml" = ['current_version = "{version}"']
"setup.py" = ['version="{version}"']
"PrevMed/utils/version.py" = ['__VERSION__: str = "{version}"']
"examples/PREMM5/premm5.yaml" = ['PrevMed_version: {version}']
